<div class="kwidth nopd">
    <div class="footer-list">
        <div class="left-nav fl">
            <ul>
                <li>
                    <h3>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Hiển thị lô</font>
                        </font>
                    </h3>
                    <a href="pdetail.html">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Sứ, </font>
                        </font>
                    </a>
                    <a href="pdetail.html">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">ngọc bích </font>
                        </font>
                    </a>
                    <a href="pdetail.html">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">bức tranh </font>
                        </font>
                    </a>
                    <a href="pdetail.html">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">tiền xu</font>
                        </font>
                    </a>
                </li>
                <li>
                    <h3>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Về chúng tôi</font>
                        </font>
                    </h3>
                    <a href="about.html">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Văn hóa </font>
                        </font>
                    </a>
                    <a href="about.html">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">doanh nghiệp Phạm vi kinh doanh</font>
                        </font>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="hg30"></div>
    <div class="bq"><span>
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">© 2018 Bản quyền </font>
            </font><a style="color:inherit" target="_blank" href="#">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">ibaotu. Gói sơ đồ</font>
                </font>
            </a>
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;"> Copyright</font>
            </font>
        </span>
        <span class="fr zhichi">
            <a></a>
        </span>
    </div>
</div>