<div class="index-module productv2" style="background:#f9f9f9">
    <!-- 作品、案例、产品 -->
    <div class="backcolor workv4a ">
        <div class="workv4-h">
            <div class="clear" style="height:60px;"></div>
            <div class="index_title text-center pb30 wow slideInUp">
                <h3 class="f30">{{title_top}}</h3> <span class="i-back"></span>
            </div>
            <div class="">
                <!-- 默认风格 -->
                <ul class="wul105 workul number_4">
                    {{#each ps}}
                        <li class="wow slideInUp" data-wow-delay=".4s">
                            <a style="height:170px;" href='/' class="img"><img src="../../../sp/{{ProID}}/1_1.jpg"
                                    style="height:170px;" alt="月夜笛语" />
                            </a>
                            <div class="title">
                                <h5 class="f14 pt15 pb10"><a href='/'>{{ProName}}</a></h5>
                                <p class="f12 pb10 entitle">{{TinyDes}}</p>
                            </div>
                            <a class="jia"><span class="glyphicon glyphicon-plus"></span></a> <i class="bor2"></i>
                        </li>
                    {{/each}}
                </ul>
                <div class="hg20"></div>
                <a class="more wow slideInUp" data-wow-delay=".3s" href="/">See more</a>
                <!-- /默认风格 -->
            </div>
            <div class="clear" style="height:55px;"></div>
        </div>
    </div>
    <!-- 作品、案例、产品 -->
    <script type="text/javascript">
        $("a[rel=example_group]").fancybox();
    </script>
</div>