<nav class="navbar navbar-light bg-light shadow">
    <a class="navbar-brand">SHOPPING IS FUN</a>
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-successs my-2 my-sm-0" type = "submit">Search</button>
    </form>
</nav>