<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark orange lighten-1">
    <a class="navbar-brand" href="#"><img src="../../../picture/logo.png" height="30" class="d-inline-block align-top"
            alt="mdb logo"> Online-Auction</a>
    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
        aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class=" collapse navbar-collapse" id=" navbarSupportedContent" style="margin-left: 140px">
        <form class="form-inline mr-auto w-100">
            <input class="form-control w-75" type="text" placeholder="Search" aria-label="Search">
            <button class="btn warning-color btn-rounded btn-sm my-0" type="submit">Search</button>
        </form>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <!-- Dropdown -->
            <li class="nav-item dropdown multi-level-dropdown ">
                <a href="#" id="menu" data-toggle="dropdown" class="nav-link dropdown-toggle w-100">Category</a>
                <ul class="dropdown-menu dropdown-menu-right dropdown-warning rounded-3 white-color border-0 z-depth-1">
                    <li class="dropdown-item dropdown-submenu p-0 ">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle text-black w-100 p-0 pl-2 mt-1 ">Điện
                            tử</a>
                        <ul class="dropdown-menu dropdown-menu-right rounded-3  white-color border-0 z-depth-1 r-100 ">
                            <li class="dropdown-item p-0">
                                <a href="#" class="text-black w-100">Điện thoại đi động</a>
                            </li>
                            <li class="dropdown-item p-0">
                                <a href="#" class="text-black w-100">Máy tính xách tay </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Feature</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user"></i> Profile </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
                    <a class="dropdown-item" href="#">My account</a>
                    <a class="dropdown-item" href="#">Log out</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<!--/.Navbar -->