{{!-- <nav class="navbar navbar-light bg-light shadow">
    <a class="navbar-brand">SHOPPING IS FUN</a>
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-successs my-2 my-sm-0" type = "submit">Search</button>
    </form>
</nav> --}}
<!-- logo -->
<div class="logoleft fl">
    <div class="logo">
        <a href="/"><img src="../../../picture/logo.jpg" alt="logo" /></a>
    </div>
</div>
<!-- /logo -->
{{!-- search --}}
{{!-- /search --}}
<!-- nav -->
<div class="nav nav_num_0 fl" style="width: 700px">
    <!--Navbar-->
    <nav class="navbar-expand-lg navbar-dark lighten-2 ml-5 w-100" style="margin: 11px">
        <!-- Collapsible content -->
        <div class=" collapse navbar-collapse mb-1 " id=" navbarSupportedContent">
            <form class="form-inline mr-auto w-100">
                <input class="form-control w-75" type="text" placeholder="Search" aria-label="Search">
                <button class="btn warning-color btn-rounded btn-sm my-0" type="submit">Search</button>
            </form>
        </div>
        <!-- Collapsible content -->
    </nav>
    <!--/.Navbar-->
</div>
<!-- /nav -->
<!-- nav -->
<div class="nav nav_num_0 fr">
    <ul>
        <li class="on"><span class="nav-one"><a href="/" class="cn f13" style="color:#000,1">Trang chủ</a></span>
        </li>
        <li><span class="nav-one"><a href="" class="cn f13" style="color:#000,1">Sản phẩm</a></span></li>
        <li><span class="nav-one"><a href="about.html" class="cn f13" style="color:#000,1">About</a></span></li>
    </ul>
</div>
<!-- /nav -->