{{!-- <nav class="navbar navbar-light bg-light shadow">
    <a class="navbar-brand">SHOPPING IS FUN</a>
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-successs my-2 my-sm-0" type = "submit">Search</button>
    </form>
</nav> --}}
<!-- logo -->
<div class="logoleft fl">
    <div class="logo">
        <a href="index.html">
            <h1>ONLINE-AUCTION</h1>
        </a>
    </div>
</div>
<!-- /logo -->
<!-- nav -->
<div class="nav nav_num_0 fr">
    <ul>
        <li class="on"><span class="nav-one"><a href="index.html" class="cn f13" style="color:#000,1">Trang
                    chủ</a></span></li>
        <li><span class="nav-one"><a href="product.html" class="cn f13" style="color:#000,1">Sản phẩm</a></span></li>
        <li><span class="nav-one"><a href="about.html" class="cn f13" style="color:#000,1">About</a></span></li>
    </ul>
</div>
<!-- /nav -->