<!--header -->
<div class="header" id="drop">
    {{>home/header}}
</div>
<!-- /header -->
<link rel="stylesheet" type="text/css" href="../../assets/css/index.css">
<!--  body -->
<div id="usezan-v7">
    <link rel="stylesheet" href="../../assets/css/swiper.css">
    <link rel="stylesheet" href="../../assets/css/animate.min.css">
    <script src="../../assets/js/swiper.min.js"></script>
    <script src="../../assets/js/swiper.animate1.0.2.min.js"></script>
    {{>home/category}}
    <!-- footer -->
    <i class="footer-bor" style="background:#acacac;opacity:.1;"></i>
    <div id="footer" class="footer wow slideInUp backcolor back-footer animated"
        style="background: rgb(236, 179, 90); visibility: visible; animation-name: slideInUp;">
        {{>home/bottom}}
    </div>
    <!-- /footer -->
</div>
<!--  /body -->
<!-- <script src="../../assets/js/online.js"></script> -->
<!-- SCRIPTS -->
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="../../assets/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="../../assets/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="../../assets/js/mdb.min.js"></script>
<script type="text/javascript">
    function getDetailProduct(id) {
        window.location = `products/` + id;
        return false;
    }
    $('#products').paginathing({
        perPage: 3,
        containerClass: 'container',
        insertAfter: '#products',
        firstLast: false,
        pageNumbers: false

    })


</script>