<div class="page-header text-center">
    <h1><span class="fa fa-check-square"></span> Đăng nhập thành công</h1>
    <a href="/logout" class="btn btn-default btn-sm">Đăng xuất</a>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="well">
            <h3><span class="fa fa-user"></span>Thông tin người dùng</h3>

            <p>
                <strong>id</strong>: {{user.id}}<br>
                <strong>Tên đăng nhập</strong>: {{user.username}}<br>
                <strong>Mật khẩu</strong>: {{user.password}}
            </p>

        </div>
    </div>

</div>